/* FFFBFE */
/* 7A7D7D */
/* D0CFCF */
/* 565254 */
/* FFFFFF */

body{
    font-family: Arial, sans-serif;
    background-color: aqua;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }

  nav{
    background-color: black;
    height:2rem;  
    box-shadow:0 0 20px 10px rgb(0,0,0,0.2);
  }

  img{
    margin: 2rem 0rem 0rem 2rem;
    width: 100rem;
    height: 100rem;
    border-radius: 100%;
    box-shadow:0 0 20px 10px rgb(0,0,0,0.2);
  }

  img;{
    margin: 2rem 0rem 0rem 2rem;
    width: 100rem;
    height: 100rem;
    border-radius: 100%;
    box-shadow:0 0 20px 10px rgb(0,0,0,0.2);
  }

  #logo{
    color: white;
    margin: 5rem 5rem 5rem 5rem;
    padding: 0.5rem 1.5rem 0rem 1.5rem; 
  }

  .image-container{
    text-align: center;
  }
